/*------------------------------------------
	DESIGNED AND CODED BY JDUCHIMA.COM
------------------------------------------*/	

#small_chat_module {
	height: 350px;
	overflow: hidden;
	width: 300px;
	background-color: white;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: 0 auto;
}

#small_transcript {
	width: 100%;
	height: 260px;
	overflow: scroll;
	border-left: 1px solid #e2e2e2;
}

/*------------------------------
 CHAT HEADER STYLES
------------------------------*/

#small_client_chat_header {
	width: 100%;
	height: 40px;
	background-color: #cc2d2d;
	position: relative;
}

#small_client_chat_header p {
	display: block;
	font-size: 16px;
	line-height: 40px;
	color: white;
	margin-left: 15px;
	float: left; 
}

span.small_close_btn {
	width: 22px;
	height: 22px;
	float: right;
	position: absolute;
	right: 8px;
	top: 8px;
}

span.small_close_btn a {
	background: url(images/chat_close_x.png) 0px 0px no-repeat;
	display: block;
	width: 22px;
	height: 22px;
}

	span.small_close_btn a:hover {
		background: url(images/chat_close_x.png) 0px -22px no-repeat;
	}

/*------------------------------
 CHAT DISPLAY STYLES
------------------------------*/

.small_chat {
	list-style: none;
}

.inbound, .outbound {
	position: relative;
}

p.visitor_name, p.operator_name, p.time_stamp {
	line-height: 16px;
	font-size: 12px;
	font-weight: bold;
	padding: 0px 0px 10px 0px;
	color: #d48013;
	text-align: left;
	display: inline-block;
}

	p.time_stamp {
		color: #ababab;
	}

p.time_stamp {
	text-align: right;
	float: right;
	font-size: 10px;
}

.outbound, .inbound, .typing {
	text-align: left;
	background-color: #eeeeee;
	padding: 15px;
	border-bottom: 1px solid #e2e2e2;		
}	
	.outbound .message {
		text-align: left;
	}

.message, .typing {
	line-height: 20px;
	font-size: 12px;
}
	
.messages {
	list-style: none;
}

.inbound {
	background-color: #ffffff;
}

.typing {
	background-color: white;
	font-size: 11px;
	font-weight: bold;
	color: #989898;
	text-align: center;
}

/*------------------------------
 SEND BOX STYLES
------------------------------*/

#small_sendbox {
	width: 100%;
	height: 50px;
	background-color: #cc2d2d;
	border-left: 1px solid #e2e2e2;
}

input[type="text"] {
	display: block;
	height: 24px;
	margin: 10px;
	margin-right: 0px;
	width: 188px;
	float: left;
	border: solid 1px rgb(255, 39, 39);
}

	input[type="text"]:focus {
	border: solid 1px #2954ff;
	}

input[type="submit"] {
	background: url(images/send_sprite.png) 0px 0px no-repeat;
	width: 92px;
	height: 33px;
	border: none;
	color: transparent;
	font-size: 0;
	float: left;
	margin: 8px;
	margin-left: -4px;
	cursor: pointer;
}

	input[type="submit"]:hover {
		background: url(images/send_sprite.png) 0px -32px no-repeat;
		cursor: pointer;
	}