/*------------------------------------------
	DESIGNED AND CODED BY JDUCHIMA.COM
------------------------------------------*/	


@charset "UTF-8";
/* RESET */

html, body, div, span, object,h1, h2, h3, h4, h5, h6, p, blockquote, pre, font,
a, code, em, font, img, ins, kbd, q, s, samp, small,strong,dl, dt, dd, ol, ul, li,
fieldset, form, label {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: .5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

a {
text-decoration: none;
color: #4e4e4e;
}

a:hover {
text-decoration: underline;
}





/*------------------------------
 LOG IN PAGE STYLES
------------------------------*/

#login_container {
	min-height: 250px;
	overflow: auto;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 380px;
	margin: 0 auto;	
	margin-top: 50px;
	background-color: white;	
}

#login_elements {
	width: 300px;
	padding: 40px;
}

	#login_elements h2 {
		padding: 0px;
	}
	
	#login_elements a {
		font-size: 12px;
		text-decoration: underline;
	}

p.signInHead {
	font-size: 12px;
	line-height: 18px;
	color: #4e4e4e;
	display: block;
	width: 300px;
}

#login-form {
	width: 300px;
	margin: 0 auto;
	margin-top: 35px;
}

#login-form input {
	width: 285px;
	height: 25px;
}

input[type="password"] {
	margin-bottom: 10px !important;
}

#login-form input[type="submit"] {
		background: url(images/login-btn.png) 0px 0px no-repeat;
		width: 295px;
		height: 33px;
		border: none;
		color: transparent;
		font-size: 0;
		float: left;
		cursor: pointer;
	}
	
		#login-form input[type="submit"]:hover {
			background: url(images/login-btn.png) 0px -33px no-repeat;
		}



/*------------------------------
 MAIN STYLES
------------------------------*/

body {
	background: url('images/bg_tile.gif') repeat;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#header {
	background-color: #f7f7f7;
	background: url('images/header_bg.gif') repeat;
	height: 65px;
}

#mainlogo {
	margin-top: 12px;
	margin-left: 20px;
	float: left;
}

.wrapper {
	width: 980px;
	margin: 0px auto;
}

#headernav {
	float: right;
	line-height: 14px;
	width: 450px;
	position: relative;
}

#header_signout {
	border-right: 1px solid #ebebeb;
}

#header_signout, #header_settings {
	display: inline-block;
	font-size: 10px;
	padding: 10px 10px 10px 15px; 
	border-left: 1px solid #ebebeb;
	position: absolute;
}

	#header_signout {
		right: 0px;
	}
	
	#header_settings {
		right: 70px;
	}

#header_signout img, #header_settings img {
	width: 16px;
	height: 16px;
	margin-bottom: 5px;
	margin-left: 10px;
}

#username {
	position: absolute;
	top: 25px;
	margin-right: 25px;
	right: 125px;
}

	#username p {
		text-align: right;
		float: left;
	}

	#username img {
		width: 36px;
		height: 34px;
		margin-top: -12px;
		margin-right: 15px;
		float: left;
	}

#container {
	width: 980px;
	min-height: 800px;
	overflow: auto;
	background-color: white;
	display: block;
	margin-bottom: -3px;
}

h2 {
	font-size: 18px;
	color: #cc2d2d;
	padding: 10px;
	margin-bottom: 10px;
}

h2.crumb_heading {
	padding: 0px;
	line-height: 18px;
	padding-top: 5px;	
}

a.breadcrumb {
	float: left;
	line-height: 18px;
	font-size: 16px;
	color: #cc2d2d;
	padding-top: 5px;
}

span.edit_op_name {
	font-size: 16px;
	color: #cc2d2d;
}


/*------------------------------
 MAIN LEFT SIDE NAV
------------------------------*/


#nav {
	width: 190px;
	min-height: 200px;
	background-color: #f8f8f8;
	float: left;
	margin-left: 32px;
	margin-top: 40px;
	border: 1px solid #e5e5e5;
	border-right: 0px;
	font-size: 16px;
	color: #666666;	
	
}

ul#left_nav {
	margin-left: 15px;
	margin-top: 15px;	
}

#left_nav li {
	display: block;
	margin-bottom: 35px;
}

ul#left_nav img {
	width: 15px;
	height: 17px;
	float: right;
	margin-right: 15px;
	position: relative;
	bottom: 12px;
}

li.selected_nav {
	background: url('images/selected_nav.gif') no-repeat;
	width: 227px;
	height: 43px;
	position: relative;
	bottom: 20px;
	right: 26px;
	margin-bottom: 0px !important;
}

li.selected_nav p {
	position: relative;
	left: 25px;
	top: 18px;
	color: #ffffff;
	font-weight: bold;
	text-shadow: 0px 1px 0px #363636;
}

	.selected_state {
		margin-right: 40px !important;
		bottom: -5px !important;
		width: 15px !important;
		height: 17px !important;
	}
	
	.indicator_selected {
		bottom: -5px !important;
	}

.indicator {
	width: 20px !important;
	height: 20px !important;
	margin-top: -2px;
}


/*------------------------------
 MAIN BODY & CONTENT AREA
------------------------------*/


#body {
	width: 730px;
	min-height: 750px;
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: white;
	border: 1px solid #e5e5e5;	
	float: right;
	margin-right: 25px;
	overflow: auto;
}


/* MY OPERATORS SECTION
------------------------------*/

#my_operators {
	width: 660px;
	overflow: auto;
	margin: 0 auto;
	margin-top: 20px;
}

#my_operators img {
	float: left;
	margin-right: 15px;
}

.operators_status {
	width: 155px;
	height: 125px;
	border: 1px solid #e5e5e5;
	float: left;
	margin-right: 8px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.op_name {
	width: 125px;
	height: 35px;
	padding-top: 15px;
	margin: 0 auto;
	border-bottom: 1px dashed #e5e5e5;
	padding-bottom: 20px;	
}

	.op_name img {
		margin-right: 10px !important;
	}

	.status_online {
		background-color: #9ebb86;
		position: relative;
		top: 15px;
		display: block;
		color: white;
		font-size: 14px;
		line-height: 25px;
		width: 125px;
		height: 25px;
		margin: 0 auto;
		text-align: center;
	}

	.status_offline {
		background-color: #666666;
		position: relative;
		top: 15px;
		display: block;
		color: white;
		font-size: 14px;
		line-height: 25px;
		width: 125px;
		height: 25px;
		margin: 0 auto;
		text-align: center;
	}	

	.operators_status p {
		font-size: 14px;
		color: #666666;
		line-height: 16px;
	}


/* ADD NEW OPERATOR FORM AREA
------------------------------*/

#add_new_op_form {
	min-height: 420px;
	overflow: auto;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;	
}

label {
	display: block;
	font-size: 12px;
	color: #4E4E4E;
	margin-bottom: 8px;
}	

input {
	margin-bottom: 25px;
	/*min-width: 225px;*/
}

.left_col_fields {
	float: left;
	margin-left: 50px;
	margin-top: 25px;
}

.right_col_fields {
	float: right;
	margin-right: 50px;
	margin-top: 25px;	
}

.upload_area {
	float: left;
}

.upload_display {
	float: left;
	margin-top: 10px;
	width: 400px;
}

.upload_display input:hover {
	cursor: pointer;
}

.image_display {
	float: left;
	margin-left: 50px;
}

.image_display img {
	border: 1px solid lightgrey;
}

span.helper_text {
	font-size: 10px;
	float: left;
	color: #4E4E4E;
	margin-bottom: 40px;
}

.checkboxes {
	margin-top: 20px;
	width: 530px;
	float: left;
	margin-left: 50px;
}

.checkboxes input, .right_check_row {
	width: 25px;
	margin-bottom: 15px;
}

.left_check_row {
	width: 210px;
	float: left;
}

.right_check_row {
	width: 210px;
	float: right;
	
}

.left_check_row ul li, .right_check_row ul li {
	display: inline-block;
}

.new_op_buttons, .edit_op_buttons, .add_new_site_buttons {
	float: left;
	margin-left: 185px;
}
	.add_new_site_buttons {
		margin-top: 15px;
	}
	
.add_new_site_buttons input[type="submit"], .purchase_buttons input[type="submit"] {
		background: url(images/add_site-btn.png) 0px 0px no-repeat;
		width: 150px;
		height: 33px;
		border: none;
		color: transparent;
		font-size: 0;
		float: left;
		cursor: pointer;
	}
	
		.add_new_site_buttons input[type="submit"]:hover, .purchase_buttons input[type="submit"]:hover {
			background: url(images/add_site-btn.png) 0px -33px no-repeat;
		}
		
	.add_new_site_buttons input[type="delete"] {
		background: url(images/delete_site-btn.png) 0px 0px no-repeat;
		width: 150px;
		height: 33px;
		border: none;
		color: transparent;
		font-size: 0;
		float: left;
		cursor: pointer;
	}
	
		.add_new_site_buttons input[type="delete"]:hover {
			background: url(images/delete_site-btn.png) 0px -33px no-repeat;
		}	
			

.edit_op_buttons, .add_new_site_buttons {
	margin-left: 75px;
}

	.edit_op_buttons input[type="submit"] {
		background: url(images/save-btn.png) 0px 0px no-repeat;
		width: 150px;
		height: 33px;
		border: none;
		color: transparent;
		font-size: 0;
		float: left;
		cursor: pointer;
	}
	
		.edit_op_buttons input[type="submit"]:hover {
			background: url(images/save-btn.png) 0px -33px no-repeat;
		}
		
	.edit_op_buttons input[type="delete"] {
		background: url(images/delete-btn.png) 0px -33px no-repeat;
		width: 150px;
		height: 33px;
		border: none;
		color: transparent;
		font-size: 0;
		float: left;
		cursor: pointer;
	}
	
		.edit_op_buttons input[type="delete"]:hover {
			background: url(images/delete-btn.png) 0px 0px no-repeat;
		}
		
	.edit_op_buttons input[type="cancel"], .add_new_site_buttons input[type="cancel"], .purchase_buttons input[type="cancel"] {
		background: url(images/cancel-btn.png) 0px 0px no-repeat;
		width: 150px;
		height: 33px;
		border: none;
		color: transparent;
		font-size: 0;
		float: left;
		cursor: pointer;
	}
	
		.edit_op_buttons input[type="cancel"]:hover, .add_new_site_buttons input[type="cancel"]:hover, .purchase_buttons input[type="cancel"]:hover {
			background: url(images/cancel-btn.png) 0px -33px no-repeat;
		}			

.new_op_buttons input, .edit_op_buttons input, .add_new_site_buttons input {
	width: 100px;
	margin-right: 20px;
}

.new_op_buttons input:hover, .edit_op_buttons input:hover, .add_new_site_buttons input:hover {
	cursor: pointer;
}
	
/* CURRENT VISITORS ON SITES SECTION
------------------------------------*/

#current_visitors {
	width: 660px;
	margin: 0 auto;
	margin-top: 65px;
}

#current_visitors img {
	float: left;
	margin-right: 15px;
}

#chat_module {
	min-height: 420px;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;	
}


/* MOST RECENT CHATS SECTION
------------------------------------*/

#recent_chats {
	width: 660px;
	overflow: auto;
	margin: 0 auto;
	margin-top: 65px;
	margin-bottom: 25PX;
}

#recent_chats img {
	float: left;
	margin-right: 15px;
}

.site_chat_module_left, .site_chat_module_right {
	width: 320px;
	height: 260px;
	border: 1px solid #e5e5e5;
	float: left;
	margin-right: 8px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.site_chat_module_right {
	float: right;
	margin-right: 0px;
}

.site_chat_title {
	width: 300px;
	height: 10px;
	padding-top: 15px;
	border-bottom: 1px dashed #e5e5e5;
	padding-bottom: 20px;
	margin: 0px auto;	
}

	.site_chat_title p {
		font-size: 14px;
		color: #666666;
		line-height: 16px;
	}
	
.site_chat_list {
	width: 300px;
	height: 190px;
	background: #f4f4f4;
	position: relative;
	margin-top: 25px;
	border: 1px solid #e5e5e5;
}

	.chat_listing_1, .chat_listing_2, .chat_listing_3, .chat_listing_4 {
		width: 285px;
		margin: 0px auto;
		padding: 14px 0px 15px 0px;
		border-bottom: 1px solid #bbbbbb;	
	}
	
		.chat_listing_4 {
			border-bottom: none;
		}
	
	p.chat_id {
		display: inline;
	}
	
	span.chat_line_count {
		display: inline;
		background-color: #666666;
		color: white;
		font-size: 10px;
		font-weight: bold;
		margin-left: 15px;
		padding: 4px 7px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;		
	}
	
	a.view_chat_log {
		display: inline;
		position: relative;
		bottom: 5px;
		background: url('images/recent_chat_sprite.png') 0px 0px no-repeat;
		color: white;
		font-size: 12px;
		font-weight: bold;
		text-shadow: 0px 1px 1px #535353;
		width: 103px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		text-decoration: none;
		float: right;
	}
	
		a.view_chat_log:hover {
			background: url('images/recent_chat_sprite.png') 0px -30px no-repeat;
		}
		

/*------------------------------
 MANAGE YOUR OPERATORS SECTION
------------------------------*/

#manage_operators, #main_container {
	width: 660px;
	min-height: 800px;
	overflow: auto;
	margin: 0 auto;
	margin-top: 20px;
}

#manage_operators img, #section_header img {
	float: left;
	margin-right: 15px;
}

p.subhead {
	font-size: 12px;
	color: #4E4E4E;
	width: 350px;
	line-height: 12px;
	float: left;
	margin-left: 40px;
}

#section_header {
	margin-bottom: 35px;
	height: 75px;
}

a.add_new_operator, a.add_new_site {
	float: right;
	display: block;
	width: 210px;
	height: 38px;
	background: url('images/add_op_button.png') no-repeat;
	background-position: 0px 0px;
	text-indent: -9999px;
	margin-top: -45px;
}

	a.add_new_operator:hover {
		background: url('images/add_op_button.png') no-repeat;
		background-position: 0px -38px;
	}
	
a.add_new_site {
	background: url('images/add_site_button.png') no-repeat;
}

	a.add_new_site:hover {
		background: url('images/add_site_button.png') no-repeat;
		background-position: 0px -38px;		
	}	

.manage_operators_status {
	width: 155px;
	min-height: 125px;
	border: 1px solid #e5e5e5;
	float: left;
	overflow: auto;
	margin-right: 8px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 50px;
}	

	.manage_operators_status p {
		font-size: 14px;
		color: #666666;
		line-height: 16px;
	}

	ul.assigned_sites_list {
		margin-top: 40px;	
		margin-left: 15px;
		font-size: 11px;
		color: #666666;
	}
	
	ul.assigned_sites_list li {
		margin-bottom: 15px;
	}

.edit_op_button {
	height: 30px;
	text-align: center;
	line-height: 30px;
	background-color: #bfbfbf;
	font-size: 11px;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
}

	.edit_op_button:hover {
		background-color: #ff9e1f;
	}
	
	.edit_op_button a {
		text-decoration: none;
		color: white;
		padding: 10px;
	}


/*------------------------------
 MANAGE SITES Section
------------------------------*/

#manage_site_container, #manage_site_container_2, #settings_home, #purchase_fields {
	min-height: 250px;
	overflow: auto;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;		
}

#manage_site_container_2 {
	margin-top: 25px;
}

.site_container_header {
	margin-top: 20px;
	margin-left: 15px;
	margin-right: 15px;
	padding-bottom: 35px;
	border-bottom: 1px dashed #c9c9c9;
}

p.siteURL {
	font-size: 18px;
	color: #666666;
	line-height: 16px;
	font-weight: bold;
	float: left;	
}

p.site_action_links {
	font-size: 10px;
	font-weight: bold;
	line-height: 18px;
	float: left;
	margin-left: 15px;
}

	p.site_action_links a {
		text-decoration: underline;
	}
	
.status_active, .status_inactive {
	background-color: #9ebb86;
	display: block;
	color: white;
	font-size: 10px;
	line-height: 18px;
	width: 100px;
	height: 18px;
	margin: 0 auto;
	text-align: center;
	float: right;
	font-weight: bold;
	margin-left: 25px;	
}

	.status_inactive {
		background-color: #666666;
	}

h3 {
	font-size: 12px;
	color: #666666;
	font-weight: 300;
	margin: 0px auto;
	width: 550px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;	
}
	
	h3 a {
		text-decoration: underline;
	}
	
.checkboxes_sites {
	margin-top: 20px;
	width: 530px;
	float: left;
	margin-left: 50px;
}

	.checkboxes_sites label {
		width: 200px;
		line-height: 18px;
	}

.checkboxes_sites input, .right_check_row {
	margin-bottom: 15px;
}

	.checkboxes_sites input {
		width: 25px;
		float: left;
	}

.sites_left_check_row {
	width: 210px;
	float: left;
}

.sites_right_check_row {
	width: 210px;
	float: right;
	
}

.sites_left_check_row ul li, .sites_right_check_row ul li {
	display: inline-block;
}

.getcode_hidden, .enter_new_URL {
	width: 450px;
	margin-bottom: -40px;
	display: none;
}

	.enter_new_URL {
		display: inline;
		margin-bottom: 0px;
	}

	.getcode_hidden input {
		width: 450px;
		margin-top: 15px;
		}
		
	.enter_new_URL input {
		width: 400px;
		line-height: 20px;
		margin-top: -5px;
		margin-bottom: -15px;
		margin-left: 15px;
		}
		

/*------------------------------
 CUSTOMIZE CHAT Section
------------------------------*/

#color_pickers, #chat_preview, #code_display {
	min-height: 250px;
	width: 300px;
	overflow: visible;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	float: left;	
}

	#color_pickers input {
		width: 70px;
		line-height: 16px;
		margin-top: 10px;
		color: #4E4E4E;
	}
	
	#color_pickers p {
		font-size: 11px;
		color: #4E4E4E;
	}

#code_display textarea {
	width: 90%;
	min-height: 250px;
	border: none;
	padding: 10px; 
}

#chat_preview {
	width: 300px;
	height: 450px;
	float: right;
	background-color: #ebeae6;
}

#left_pickers, #right_pickers {
	margin-top: 15px;
	margin-left: 15px;
	float: left;
}

	#right_pickers {
		float: right;
		margin-right: 15px;
		margin-left: 0px;
	}


h3.customize_headings {
	font-size: 16px;
	color: #666;
	text-align: left;
	font-weight: bold;
	margin-left: 15px;
	width: 250px;
}

#dimensions {
	float: left;
	width: 210px;
	margin-left: 15px;
}

	#dimensions input {
		float: left;
		display: inline-block;
	}
	
	#dimensions p {
		width: 50px;
	}
	
	p.width_area {
		float: left;
	}
	
	p.height_area {
		float: right;
	}
	
	#dimensions h3 {
		margin-left: 0px;
		margin-bottom: 15px;
	}		

#position {
	float: left;
	margin-left: 15px;
	margin-bottom: 20px;
}

	#position p {
		margin-bottom: 15px;
	}

#location_preview {
	width: 95px;
	height: 95px;
	background-color: aqua;
	float: left;
	margin-right: 15px;
}

#location_pickers {
	float: right;
	width: 160px;
	font-size: 10px;
}
	
	#location_pickers input {
		width: 10px;
		margin-bottom: 5px;
		margin-right: 5px;
	}
	
	#left_radio_column {
		float: left;
	}
	
	#right_radio_column {
		float: right;
	}
	
.center_button, .center_button_long {
	width: 660px;
	height: 25px;
	float: left;
	border-top: 1px #d1d1d1 dashed;
	margin-top: 25px;
}

	.center_button input {
		width: 125px;
		margin-left: 250px;
		margin-top: 20px;
	}
	
	.center_button input[type="submit"] {
		background: url(images/save-btn.png) 0px 0px no-repeat;
		width: 150px;
		height: 33px;
		border: none;
		color: transparent;
		font-size: 0;
		float: left;
		cursor: pointer;
	}
	
		.center_button input[type="submit"]:hover {
			background: url(images/save-btn.png) 0px -33px no-repeat;
		}
	
	.center_button_long input {
		width: 200px;
		margin-left: 200px;
		margin-top: 20px;
	}					

#site_name_container {
	min-height: 50px;
	min-width: 250px;
	overflow: visible;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	float: left;
	margin-bottom: 0px !important;
	margin: 35px;
}

	#site_name_container p {
		font-size: 13px;
		font-weight: bold;
		color: #4E4E4E;
		line-height: 50px;
		text-align: center;
	}


/*------------------------------
 SETTINGS Section
------------------------------*/

#settings_home {
	min-height: 550px;
	overflow: visible;	
}

#purchase_fields {
	min-height: 350px;
}

p.settings_heading {
	font-size: 22px;
	color: #666666;
	line-height: 16px;
	font-weight: bold;
	float: left;
	margin-left: 75px;	
}

.account_status {
	background-color: #e8a944;
	display: block;
	color: white;
	font-size: 12px;
	line-height: 22px;
	width: 200px;
	height: 22px;
	margin: 0 auto;
	text-align: center;
	float: right;
	font-weight: bold;
	margin-right: 75px;	
}

#settings_home h3 {
	text-align: left;
	line-height: 14px;
}

.tier_1, .tier_2, .tier_3 {
	border: 1px solid #cccccc;
	width: 195px;
	height: 325px;
	margin-left: 17px;
	color: #474747;
	margin-top: 35px;
	margin-bottom: 25px;
	float: left;
}

.tier_3 {
	float: right;
	margin-right: 15px;
}

.tier_name, .tier_price {
	text-align: center;
	margin-bottom: 25px;
	margin-top: 25px;
}

.tier_name {
	font-size: 23px;
	line-height: 24px;
	padding: 0px 15px 0px 15px;
	font-weight: 600;
}

.tier_price {
	font-size: 28px;
	color: #40b376;
}

.tier_details {
	font-size: 12px;
	padding: 15px;
}

.tier_1 ul, .tier_2 ul, .tier_3 ul {
	list-style: disc;
	font-size: 12px;
	line-height: 16px;
	padding: 0px 45px 0px 45px;
}

a.upgrade_button {
	display: block;
	width: 150px;
	height: 38px;
	background: url('images/upgrade_acct-sprite.png') no-repeat;
	background-position: 0px 0px;
	text-indent: -9999px;
	margin-left: 25px;
	margin-top: 25px;
}

	a.upgrade_button:hover {
		background-position: 0px -38px;
	}
	
#purchase_steps {
	min-height: 50px;
	margin-bottom: 25px;
}

	#purchase_steps p {
		width: 218px;
		line-height: 50px;
		font-size: 14px;
		font-weight: 600;
		color: white;
		float: left;
		text-align: center;
		border-right: 2px solid white;
	}
	
		p.selected_step {
			background-color: #cc2c2c;
		}
				
		p.non_selected_step {
			background-color: #cacaca;
			line-height: 40px !important;
			margin-top: 5px;
			color: #6c6c6c !important;
			font-weight: 400 !important;			
		}
		
#biz_info_form, #credit_card_form {
	margin: 25px;
}

	#biz_info_form input, #credit_card_form input {
		min-width: 150px !important;
	}
	
	label[for=state], select[name=state] {
		margin-right: 200px;
	}
	
	select[name=cardtype] {
		margin-bottom: 25px;
		width: 200px;
	}
	
	select[name=month], select[name=year] {
		width: 100px;
		margin-right: 20px;
	}
	
		select[name=year] {
			margin-top: 15px;
		}

	.left_col_purchase {
		float: left;
	}
	
	.right_col_purchase {
		float: right;
	}
	
	input[type=cancel] {
		width: 100px;
	}

.right_col_purchase img {
	margin-right: 170px;
	margin-top: 10px;
}	
	
	
.purchase_buttons {
	margin-left: 150px;
	margin-top: 25px;
}

.purchase_buttons input[type="submit"] {
		background: url(images/next_stp-btn.png) 0px 0px no-repeat;
	}
	
		.purchase_buttons input[type="submit"]:hover {
			background: url(images/next_stp-btn.png) 0px -33px no-repeat;
		}
		
.confirm_header {
	margin: 15px;
	border-bottom: 1px dashed #c9c9c9;
	height: 50px;
}

p.purchase_heading {
	font-size: 22px;
	color: #666666;
	line-height: 40px;
	width: 100%;
	font-weight: bold;
	float: left;
	text-align: center;
}

h3.purchase_confirm {
	line-height: 28px;
	text-align: left;
}			
		
/*------------------------------
 FOOTER Section
------------------------------*/

#footer_bg {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #f7f7f7;
	height: 56px;
	background: url('images/footer_bg.png') repeat-x;
}

#footer {
	font-size: 10px;
	color: #ae2626;
	width: 980px;
	margin: 0px auto;
}

	#footer a {
		color: #ae2626;
	}

	#footer p {
		position: relative;
		line-height: 10px;
		top: 25px;
		width: 110px;
		margin: 0px auto;
	}

ul.footer_links {
	position: relative;
	top: 15px;
	width: 341px;
	margin: 0px auto;
	line-height: 10px;	
}		

	.footer_links li {
		display: inline-block;
	}
		
		
				